<h3>Astronaut Registration:</h3>

<p>Input the following information to build your crew</p>

<form action="/astronauts" method="post">
  <ul>
    <li>
      <label for="name">Astronaut Name:</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="weight">Weight:</label>
      <input id="weight" type="text" name="weight">
    </li>

    <li>
      <label for="height">Height:</label>
      <input id="height" type="text" name="height">
    </li>

    <li>
      <label for="bio">Bio:</label>
      <input id="bio" type="text" name="bio">
    </li>

    <li>
      <label for="nationality">Nationality:</label>
      <input id="nationality" type="text" name="nationality">
    </li>

    <li>
      <label for="specialty">Specialty:</label>
      <input id="specialty" type="text" name="specialty">
    </li>
  </ul>
  <input type="submit" />
</form>