<h2>User Information:</h2>

<ul>
<li>Name: <%= @user.name %></li>
<li>Email: <%= @user.email %></li>
<li>Rank: <%= @user.rank %></li>
<li>Age: <%= @user.age %></li>
</ul>

<a href='/'>Return to Mission Control.</a>

<h3>Flight Controller of the following ships:</h3>

<h3>Current Astronaut Roster:</h3>