<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label>Name:</label>
      <input id="name" type="text" name="user[name]" value="<%= @user.name %>" />
      <li><label>Email:</label>
      <input id="email" type="text" name="user[email]"  value="<%= @user.email %>">
    </li>
  </ul>
  <input type="submit" />
</form>