<h3>Ship Manifest:</h3>

<p>Input the following information to build your ship</p>

<form action="/ships" method="post">
  <ul>
    <li>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="weight">Type</label>
      <input id="weight" type="text" name="weight">
    </li>

    <li>
      <label for="height">Speed</label>
      <input id="height" type="text" name="height">
    </li>

    <li>
      <label for="bio">Crew</label>
      <input id="bio" type="text" name="bio">
    </li>

    <li>
      <label for="nationality">Cargo:</label>
      <input id="nationality" type="text" name="nationality">
    </li>

  </ul>
  <input type="submit" />
</form>