<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Houston, we've had a problem...</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h3>You Must Successfully <a href="/sessions/login">Log In</a> to Access Your Console</h3>

  </body>
</html>